@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:wght@300;500;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    background: rgb(238,174,202);
    background: linear-gradient(155deg, rgb(196, 152, 160) 0%, rgb(6, 19, 87) 100%); 
    min-height: 100vh;
    font-family: 'Poppins', sans-serif, 'Raleway', sans-serif, 'Roboto', sans-serif;
}

.page {
    padding-top: 50px;
}

a {
    color: rgba(0, 0, 0, 0.814);
    text-decoration: none; /* no underline */
}

h1 {
    font-weight: 300;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    margin: 0 10px;
}

p {
    font-size: 14px;
    font-weight: 700;
    color: #6fa1da;
    margin: 10px;
}

.box {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.832);
    margin: 10px;
    flex-shrink: 0;
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1300px;
    margin: 70px auto 0;
}

.capture {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}